.registration-header {
    background-color: gainsboro;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom : 30px;
}

h1 {
    margin-left: 20px;
}
h2, h3 {
    text-align: center;
    padding: 20px;
}

.league-options {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-evenly;

}

.league-details {
    width: 20em;
    text-align: center;
    background-color: rgb(217, 231, 238);
     border-style: solid;
     border-color: #030b41;
     border-width: 5px;
     border-radius: 20px;
}

.start-registration {
    text-align: center;
    padding: 50px;
}

.registration-section {
    display: flex;
    justify-content: space-around;
    color: gray;
    font-weight: normal; 
    font-size: x-large;
}

.registration-section-title {
    padding-left: 5px;
}

h6 {
    margin: 0px;
    text-align: center;
}

#current-registration-section {
    color: black;
    font-weight: bold;
}

.registration-form {
    border-color: black;
    border: solid;
    padding: 10px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
}

.player-form {
    display: flex;
    flex-direction: column;
}

.back-next-buttons {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;

}

.next-button {
    margin-right: 10%;
    display: flex;
    justify-content: flex-end;

}

.skill-options {
    display: flex;
    flex-direction: column;
}

.position-options {
    display: flex;
}

.silver-league {
    background-color: rgb(196, 198, 198);
}

.bronze-league {
    background-color:rgb(242, 229, 205);
}

.user-registration-info {
    background-color: rgb(217, 231, 238);
}