.mission {
    display: flex;
    flex-direction: column;
    
}

.mission-info{
    text-align: center;
}

.league-info {
    text-align: center;
}

.leagues {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}